{% extends "base.html" %}
{% block title %}Normal{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block body %}
{{ layout_html | safe }}
{{ dialogs_html | safe }}
{% endblock %}

{% block scripts %}
<script>
  // Inject workspace data for JS
  const JAS_STATE = {{ state_json | safe }};
  const JAS_ACTIONS = {{ actions_json | safe }};
  const JAS_SHORTCUTS = {{ shortcuts_json | safe }};
  const JAS_PANE_CONFIGS = {{ positions_json | safe }};
</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
