{% extends "base.html" %}
{% block title %}Normal{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/wireframe.css') }}">
{% endblock %}

{% block body %}
{{ layout_html | safe }}
{{ dialogs_html | safe }}
{% endblock %}

{% block scripts %}
<script>
  const APP_STATE = {{ state_json | safe }};
  const APP_ACTIONS = {{ actions_json | safe }};
  const APP_SHORTCUTS = {{ shortcuts_json | safe }};
  const APP_PANE_CONFIGS = {{ positions_json | safe }};
  const APP_ICONS = {{ icons_json | safe }};
  var APP_THEME = {{ theme_json | safe }};
  const APP_DEFAULT_LAYOUTS = {{ default_layouts_json | safe }};
  const APP_RUNTIME_CONTEXTS = {{ runtime_contexts_json | safe }};
  const APP_APPEARANCES = {{ appearances_json | safe }};
  const APP_ACTIVE_APPEARANCE = {{ active_appearance_json | safe }};
  const APP_ALL_APPEARANCES = {{ all_appearances_json | safe }};
  const APP_BASE_THEME = {{ base_theme_json | safe }};
  const APP_METRICS = {{ metrics_json | safe }};
</script>
<script src="{{ url_for('static', filename='js/app.js') }}?v={{ range(99999) | random }}"></script>
{% endblock %}
